<template>
  <m-dropdown title="下拉菜单">
    <template #dropdown>
      <m-dropdown-menu>
        <m-dropdown-item icon="icon-search">菜单1</m-dropdown-item>
        <m-dropdown-item icon="icon-edit">菜单2</m-dropdown-item>
        <m-dropdown-item icon="icon-close">菜单3</m-dropdown-item>
        <m-dropdown-item icon="icon-link">菜单4</m-dropdown-item>
        <m-dropdown-item icon="icon-good">菜单5</m-dropdown-item>
      </m-dropdown-menu>
    </template>
  </m-dropdown>
</template>