// 代码风格
@import "./theme.scss";

ol, ul {
	list-style: none;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

table{
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  line-height: 1.5em;
  td{
    border-top: 1px solid #dcdfe6;
    border-bottom: 1px solid #dcdfe6;
    padding: 0.6em 1em;
    text-align: center;
    max-width: 250px;
    white-space: pre-wrap;
  }
}

::-webkit-scrollbar{
  display: none;
}


.ml-10{
  margin-left: 10px;
}
.ml-20{
  margin-left: 20px;
}
.mr-10{
  margin-right: 10px;
}
.mr-20{
  margin-right: 20px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}


.pl-10{
  padding-left: 10px;
}
.pl-20{
  padding-left: 20px;
}
.pr-10{
  padding-right: 10px;
}
.pr-20{
  padding-right: 20px;
}
.pt-10{
  padding-top: 10px;
}
.pt-20{
  padding-top: 20px;
}
.pb-10{
  padding-bottom: 10px;
}
.pb-20{
  padding-bottom: 20px;
}

.l-hegight{
  line-height: 32px;
}
.block{
  display: block;
}

.source{
  padding: 30px 15px;
  margin-top: 5px;
  border: 1px solid #f0f0f0;
  border-bottom: 0px;
  border-radius: 4px 4px 0 0;
  box-sizing: border-box;
}