<template>
  <m-breadcrumb separator=">">
    <m-breadcrumb-item to="/">首页</m-breadcrumb-item>
    <m-breadcrumb-item to="/breadcrumb">组件</m-breadcrumb-item>
    <m-breadcrumb-item>面包屑</m-breadcrumb-item>
  </m-breadcrumb>
  <m-breadcrumb separator-class="icon-direction-right">
    <m-breadcrumb-item to="/">首页</m-breadcrumb-item>
    <m-breadcrumb-item to="/breadcrumb">组件</m-breadcrumb-item>
    <m-breadcrumb-item>面包屑</m-breadcrumb-item>
  </m-breadcrumb>
</template>