<template>
  <m-breadcrumb>
    <m-breadcrumb-item to="/" icon="icon-home">
      <i class="iconfont icon-home"></i>首页
    </m-breadcrumb-item>
    <m-breadcrumb-item to="/breadcrumb">
      <i class="iconfont icon-email"></i>组件
    </m-breadcrumb-item>
    <m-breadcrumb-item icon="icon-edit">
      <i class="iconfont icon-edit"></i>面包屑
    </m-breadcrumb-item>
  </m-breadcrumb>
</template>