<template>
  <m-badge value="new" class="item">
    <m-button size="small">评论</m-button>
  </m-badge>
  <m-badge value="hot" class="item">
    <m-button size="small">回复</m-button>
  </m-badge>
</template>

<style>
.item {
  margin-right: 40px;
}
</style>