<template>
  <m-badge is-dot class="item">数据查询</m-badge>
  <m-badge is-dot class="item">
    <m-button size="small" type="primary">回复</m-button>
  </m-badge>
</template>

<style>
.item {
  margin-right: 40px;
}
</style>