<template>
  <div class="app-container">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "mTableColumn"
};
</script>


<script setup>

</script>

<style lang="scss" scoped>

</style>
