.m-tree{
  position: relative;
  background: #fff;
  color: #606266;
  cursor: default;
  .m-tree-node{
    width: 100%;
    white-space: nowrap;
    outline: none;
    box-sizing: border-box;
    .m-tree-node__content{
      display: flex;
      align-items: center;
      height: 26px;
      cursor: pointer;
      &:hover{
        background:#f5f5f5;
      }
      .m-tree-node__expand-icon{
        cursor: pointer;
        color: #c0c4cc;
        width: 14px;
        height: 14px;
        padding: 6px;
        display: inline-block;
        line-height: 14px;
        transition: all .2s ease;
        i{
          width: 100%;
          height: 100%;
          font-size: 12px;
          display: inline-block;
          color: #969696;
        }
      }
      .expanded{
        transform: rotate(90deg);
      }
      .m-tree-node-checkbox{
        margin-right: 0;
      }
    }
    .m-tree-ul-box{
      padding-left: 5px;
    }
  }
}